body,
html {
    height: 100vh;
    background-color: slategrey;
}



.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}

.material-icons::before {
    content: attr(data-icon);
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 20% 30% 30% auto;
    grid-template-rows: 15% auto auto auto;
    column-gap: 2rem;
    grid-template-areas:
        "sidebar header header header"
        "sidebar mc-1 mc-2 sc "
        "sidebar mc-1 mc-2 sc"
        "sidebar mc-1 mc-2 sc"
        "sidebar mc-1 mc-2 sc";
}

aside {
    grid-area: sidebar;
    background-color: blue;
}

#sidebar-content-wrapper {
    padding: 4%;

}

#sidebar-top {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 20%;
}

#home-bar {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto, auto, auto, auto, auto, auto;
    row-gap: .75rem;
    grid-template-areas:
        "home"
        "profile"
        "messages"
        "history"
        "tasks"
        "communities";
    margin-bottom: 20%;
}

#settings-bar {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto, auto, auto;
    row-gap: .75rem;
    grid-template-areas:
        "settings"
        "support"
        "privacy";
}

.sidebar-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: white;
    display: flex;
    gap: 1rem;
    align-items: center;
}

#site-title {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

#site-logo {
    font-weight: bold;
    font-size: 40px;
    color: white;
}

header {
    grid-area: header;
    background-color: white;
    margin-left: -2rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25%, auto;
    grid-template-areas:
    "header-top"
    "header-bottom";
}

#header-top {

}

#header-bottom {

}



#mc-1 {
    grid-area: mc-1;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#mc-2 {
    grid-area: mc-2;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#sc {
    grid-area: sc;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card {
    height: 300px;
    width: auto;
    background-color: white;
    gap: 5px;
    position: relative;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#card-text-wrapper {
    padding: 2%;
}

#card-title {
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 25px;
}

.announcement-sidecard {
    height: 400px;
    width: auto;
    background-color: white;

    grid-area: sc;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto, auto, auto;
    grid-template-areas:
        "announcement"
        "announcement"
        "announcement";
}

#announcement {
    width: 100%;
}

#announcement-text-wrapper {
    padding-left: 8px;
    padding-right: 8px;
}

.row-border {
    border-top: 1px solid gray;
    grid-column: 1 / 5;
    /* this code makes the row stretch to entire width of the container */
}

#announcement-title {
    margin-top: 5px;
    font-weight: bold;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#announcement-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#icon-wrapper {
    width: 35%;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: space-around;
}

.icon {
    height: 40px;
    width: 40px;
    background-color: gray;
}

.trending-sidecard {
    height: 400px;
    width: auto;
    background-color: white;

    grid-area: sc;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto, auto, auto, auto;
    grid-template-areas:
        "trending-user"
        "trending-user"
        "trending-user"
        "trending-user";
    row-gap: 0px;
}

#trending-user {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding-left: 5px;
    padding-right: 5px;
}


.user-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#tegan.user-picture {
    background: burlywood;
}

#polly {
    background: slateblue;
}

#jules {
    background: goldenrod;
}

#morgan {
    background: rgb(28, 166, 208);
}


.user-username {
    font-weight: 600;
}

.user-info-wrapper {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}